.stack-work/
*~
*#*#
/dist
/dist-newstyle
**/#*#
.#*
*/.#*
*.DS_Store
src/Compiler/Try.hs
src/Backend/Notes
Cprograms/*.ll
*/*.nothing
*/*/*.nothing
MicroRAM.cabal
temp/*
*.ll-e
*.link.bc
*.o
*.c.opt.bc
test/programs/**/*.c.bc
**/*.micro
*.py
*.cbor